// Override or add CSS variables for your theme here

:root {
  --ds-thumbnail-max-width: 75px;
  // setting these to none uses the same styles as the links
  --ds-thumbnail-placeholder-background: none;
  --ds-thumbnail-placeholder-border: none;
  --ds-thumbnail-placeholder-color: none;
  // additional variable
  --ds-thumbnail-placeholder-font-size: 3em;
}
