// Override or add CSS variables for your theme here

:root {
  --ds-thumbnail-max-width: 75px;
  --ds-thumbnail-placeholder-background: none;
  --ds-thumbnail-placeholder-border: none;
  --ds-thumbnail-placeholder-color: #707070;
}
