<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">The Data@TAMU Digital Catalog</h1>
          <p class="lead">Data@TAMU collects and indexes datasets created by TAMU researchers and stored in data repositories around the world. The catalog increases discoverability of datasets in support of re-use, experimental reproducibility, and social impact.</p>
          <p class="lead">“Open access to research data is critical for advancing science, scholarship, and society.  Research data, when repurposed, has an accretive value. Publicly funded research should be publicly available for public good.” - from preamble to the <a href="https://openaccess.unt.edu/denton-declaration">Denton Declaration: An Open Data Manifesto</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
